<div class="subscriptions-container">
	<h2>From your subscriptions</h2>
	@if (loading) {
		<div class="loading">
			<mat-spinner diameter="40"></mat-spinner>
		</div>
	}
	@if (error) {
		<p class="error">{{ error }}</p>
	}
	@if (!loading && !error) {
		<div class="video-grid">
			@for (video of videos; track video.id) {
				<div class="video-card">
					<img [src]="video.thumbnailUrl || '/assets/default-thumbnail.jpg'" [alt]="video.title">
					<h3>{{ video.title }}</h3>
					<p>{{ video.channel?.name || (video.user?.firstName + ' ' + video.user?.lastName) }}</p>
				</div>
			}
		</div>
		<div class="load-more" *ngIf="hasNextPage">
			<div #loadMoreTrigger class="load-more-trigger">
				@if (loadingMore) {
					<mat-spinner diameter="30"></mat-spinner>
					<span>Loading more...</span>
				}
			</div>
		</div>
	}
</div>


